/* Colors
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #2B2733;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  min-height: 100%;
}

header {
  background-color: #46424D;
}

.header-title {
  margin: 0px;
  padding: 10px;
  color: #FFF;
  text-align: center;
}

main {
  display: flex;
}

.left-section {
  flex-grow: 2;
  height: 100vh;
  color: #FFF;
  font-weight: 400;
}

.title {
  padding: 0px;
  color: #CBC9CF;
  font-weight: 300;
  font-size: 20px;
  margin: 20px 20px 10px 20px;
}

.choose-category-view, .timer-view, .completed-view {
  background-color: #46424D;
  height: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px 1px 1px #26222D;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.category-button-section {
  width: 75%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.select-category {
  padding: 20px 0 0 0;
  width: 75%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  width: 75%;
}

.goal-div, .mins-div, .secs-div {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
}

.goal-div {
  width: 100%;
}

.goal-input, .mins-input, .secs-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  margin-top: 5px;
}

.time-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mins-div, .secs-div {
  width: 40%;
}

.start-button-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.start-activity-button {
  margin: 25px;
}

.right-section {
  flex-grow: 1;
  border-left: 2px solid;
  border-color: #46424D;
  height: 100vh;
}

.activities-title, .no-activities-text {
  margin: 20px;
}

.no-activities-text {
  text-align: center;
  color: #CBC9CF;
  font-weight: 300;
  font-size: 12px;
}

.category-button {
  height: 60px;
  width: 160px;
  background-color: #46424D;
  border-color: #FFF;
  border-style: solid;
  color: #FFF;
  border-radius: 5px;
  border-width: 1.5px;
}

#image {
  height: 30px;
  width: 30px;
}

.timer-text {
  font-size: 75px;
  margin: 0;
  font-weight: 600;
}

.activity-name {
  margin: 30px 0px 0px 0px;
  font-weight: 300;
  font-size: 18px;
}

.start-complete-button {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  display: block;
  margin: 50px 0px 50px 0px;
  background-color: #46424D;
  border-style: solid;
  border-color: #C278FD;
  color: #FFF;
  font-size: 18px;
}

.square-button {
  color: #46424D;
  font-size: 12px;
  padding: 5px;
}

.log-activity-button {
  margin: 10px;
  width: 150px;
}

.create-new-activity-button {
  margin: 60px 0 0 0;
  width: 275px;
}

.hidden {
  display: none;
}