/* Colors
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #2B2733;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  min-height: 100%;
  border-color: orange;
  border-style: dashed;
}

header {
  background-color: #46424D;
}

.header-title {
  margin: 0px;
  padding: 10px;
  border-color: yellow;
  border-style: dashed;
  color: #FFF;
  text-align: center;
}

main {
  display: flex;
}

.left-section {
  flex-grow: 2;
  border-color: yellow;
  border-style: dashed;
  height: 100vh;
  padding: 20px;
}

.left-title {
  padding: 0px;
  border-color: yellow;
  border-style: dashed;
  color: #FFF;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

.choose-category-view {
  background-color: #46424D;
  height: 93vh;
  border-radius: 5px;
  box-shadow: 5px 5px 1px 1px #26222D;
}

.right-section {
  flex-grow: 1;
  border-left: 2px solid;
  border-color: #46424D;
  border-color: yellow;
  border-style: dashed;
  height: 100vh;
}

.hidden {
  display: none;
}